{% extends 'baseLogin.html' %}
{% load widget_tweaks %}
{% load static %}


{% block head %}
	<link href="{% static 'fonts/font-awesome/css/all.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}" rel="stylesheet"/>
	<script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
	<script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
	
	<script src="{% static 'js/function.js' %}"></script>
{% endblock  %}
	

{% block contenido %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form " action="." method=".">
				<input type="hidden" name="next" value={{next}}>
				{% csrf_token %}
				<span class="login100-form-title p-b-43">
					{{title}}
				</span>
				
				
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					
					{{ form.username | add_class:'input100'|attr:'type:text'}}
					<span class="focus-input100"></span>
					<span class="label-input100"> </span>
				</div>
				

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						<i class="fas fa-envelope"></i> Resetear Contraseña
					</button>
				</div>
				
				
			</form>

			<div class="login100-more" style="background-image: url('https://img.freepik.com/vector-premium/mujer-trabajando-su-escritorio-casa-tiene-mucho-trabajo_646529-6.jpg')">
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		$('form').on('submit', function (e) {
			e.preventDefault();
			var parameters = new FormData(this)
			submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro que desea resetear su contraseña?', parameters, function () {
				Swal.fire({
                    title: 'Notificación',
                    text: 'Se ha enviado un correo electrónico con los pasos a seguir para que pueda resetear su contraseña',
                    icon: 'success',
                    timer: 5000,
                    onClose: () => {
                            location.href = '/';
                        }
                    }).then((result) => {
                });
			}); 
		});
	});
</script>
{% endblock %}
	