{% extends 'list.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'listarUsuarios.js' %}"></script>
{% endblock %}

{% block columnas %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombre completo</th>
    <th scope="col">Username</th>
    <th scope="col">Fecha de Registro</th>
    <th scope="col">Imagen</th>
    <th scope="col">Grupos</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %} 


{% endblock %}
{% block javascript %}

{% endblock %}